<!DOCTYPE html>
<html>
  <head>
    <title>DnDTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Events</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/monsters">Monsters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/player_characters">Player Characters</a>
  </li>
</ul>
  	<div class="container">
    	<%= yield %>
	</div>
  </body>
</html>
